* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin-bottom: 7rem;
}
nav.adminHeader {
    height: 7rem;
    background-color: #0c59cf;
}
nav.adminHeader strong {
    font-size: 3rem;
    color: darkorchid;
}
.row {
    width: 100%;
}
.bg {
    background:grey;
}
video {
    position: relative;
}
.third-portion {
    color: #fff;
    background: #0217f6;
    padding: 25px;
    font-size: smaller;
    border: none;

}
h1 span {
    color: darkturquoise;
}
.forth-portion {
    height: 100vh;
    background: url('./art1.jpg')  ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 7px 20px #999;
}
.jumbotron {
    width: 80vw;
    margin: auto;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.videos {
    width: 100%;
}
video {
    width: 350px;
    height: 13em;
}
.myPrev {
    width: 100%;
}
/* audio {
    width: 350px;
} */